<div class="bg-gray-900">


  <div class="relative isolate overflow-hidden pt-14">
    <img
      src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2830&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply"
      alt=""
      class="absolute inset-0 -z-10 h-full w-full object-cover">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">

      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Shopify to enrich your online business</h1>
        <p class="mt-6 text-lg leading-8 text-gray-300">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="#" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">Get started</a>
          <a href="#" class="text-sm font-semibold leading-6 text-white">theme Development
            <span aria-hidden="true">→</span>
          </a>
        </div>
      </div>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  </div>
</div>


<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="md:flex md:items-center md:justify-between">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Trending products</h2>
      <a href="#" class="hidden text-sm font-medium text-indigo-600 hover:text-indigo-500 md:block">
        Shop the collection
        <span aria-hidden="true">
          &rarr;</span>
      </a>
    </div>

    <div class="mt-6 grid grid-cols-2 gap-x-4 gap-y-10 sm:gap-x-6 md:grid-cols-4 md:gap-y-0 lg:gap-x-8">

      {% for product in collections['frontpage'].products | limit: 8 %}

        <div class="group relative">

          <div class="h-56 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-72 xl:h-80">
            <img
              src="{{product.featured_image | image_url }}"
              alt="Hand stitched, orange leather long wallet."
              class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">
            <a href="{{product.url}}">
              <span class="absolute inset-0"></span>
              {{ product.title }}
            </a>
          </h3>
          <p class="mt-1 text-sm font-medium text-gray-900">{{ product.price | money }}</p>

        </div>
        {% comment %} <a href="{{product.url}}">
        <div>
        <img class="h-[160px]" src="{{product.featured_image | image_url }}" />
        <p class="text-sm">
        {{- product.title }}</p>
        <p>{{ product.price | money }}</p>
        </div>
        </a> {% endcomment %}

      {% endfor %}
      <!-- More products... -->
    </div>

    <div class="mt-8 text-sm md:hidden">
      <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
        Shop the collection
        <span aria-hidden="true">
          &rarr;</span>
      </a>
    </div>
  </div>
</div>

{% comment %} {% for product in collections['frontpage'].products %}
<a href="{{product.url}}">
<div>
<img class="h-[160px]" src="{{product.featured_image | image_url }}" />
<p class="text-sm">
{{- product.title }}</p>
<p>{{ product.price | money }}</p>
</div>
</a>

{% endfor %} {% endcomment %}